//
   Created by Administrator on 2017/9/2.

doctype
html
    header
        meta(charset='utf-8')
        title #{title}
        include ./includes/head
    body
        include ./includes/header
        block content